<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='index.css') }}">
    <title>SWE_5_Login</title>
</head>
<body class = 'index'>
    <h2>Problem 5 - Back End Development</h2>

    <form action = '/login' method = "POST" >
        Username:
        <input type = "text" name="username" placeholder = "Enter username"> </br></br>
        Password: 
        <input type = "password" name="password" placeholder="Enter password"> </br></br>
        
        {% if state == '1' %}
            <p style = "color: red">Username does not contain 2 letter country code! </p>
        {% elif state == '2' %}
            <p style = "color: red">Invalid username or password</p>
        {% elif state == '3' %}
            <p style = "color: red">Database is not initailized. Do run the endpoint <b>/initalize</b> </p>
            {% elif state == '4' %}
            <p style = "color: red">Fill in both username and password!</p>
        {% endif %}


        <button type = "submit">Submit</button>
    </form>
    
</body>
</html>